<html>
    <head>
        <title>Timmy's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Timmy's Blog</a></h1>
        </div>

        <div>
            <!-- <p>published: 08.20.2017, 5:03pm</p> -->
            <h2><a href="">Hell yeah, hell yeah, hell yeah</a></h2>
            <p>Fuckin right, fuckin right, all right</p>
            <h3>published: August 20th, 2017 at 5:03pm</h3>
        </div>

        <div>
            <!-- <p>published: 08.20.2017, 5:04pm</p> -->
            <h2><a href="">Do you love this shit?</a></h2>
            <p>Are you high right now? Do you ever get nervous? Are you single? I heard you fucked your girl, is it true? You getting money? You think them niggas you with is wit' you?</p>
            <h3>published: August 20th, 2017 at 5:04pm</h3>
        </div>
    </body>
</html>
